name: "Docker publish"

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
      generic_tag:
        required: true
        type: string

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:

      - name: Download docker image
        uses: actions/download-artifact@cc203385981b70ca67e1cc392babf9cc229d5806 # infered from @v4
        with:
          name: image
          path: /tmp

      # setup containerd to preserve provenance attestations :https://docs.docker.com/build/attestations/#creating-attestations
      - name: Setup docker with containerd
        uses: docker/setup-docker-action@efe9e3891a4f7307e689f2100b33a155b900a608 # infered from @v4.5.0
        with:
          daemon-config: |
            {
              "features": {
                "containerd-snapshotter": true
              }
            }

      - name: Load docker image into daemon
        run: |
          docker load --input /tmp/image.tar

      - name: Login to Docker Hub
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # infered from @v3
        with:
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push images to Docker Hub
        run: |
          REPO_NAME=$(basename ${{ github.repository }} | tr '[:upper:]' '[:lower:]' | tr -d '[:space:]')
          DOCKERHUB_USER=$(echo "${{ secrets.DOCKERHUB_USERNAME }}" | tr '[:upper:]' '[:lower:]' | tr -d '[:space:]')
          IMAGE_NAME="${DOCKERHUB_USER}/${REPO_NAME}"
          
          echo "Pushing to: docker.io/${IMAGE_NAME}"
          echo "Tags: ${{ inputs.generic_tag }}, ${{ inputs.version }}"
          
          docker tag kafka-ui:temp docker.io/${IMAGE_NAME}:${{ inputs.generic_tag }}
          docker tag kafka-ui:temp docker.io/${IMAGE_NAME}:${{ inputs.version }}
          docker push docker.io/${IMAGE_NAME}:${{ inputs.generic_tag }}
          docker push docker.io/${IMAGE_NAME}:${{ inputs.version }}
